{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="logo">Task Manager</div>
        <div class="menu">
            <ul>
                <li><a href="/AddUser">Add User</a></li>
                <li><a href="/AddTask">Add Task</a></li>
                <li><a href="/UserList">User List</a></li>
                <li><a href="/TaskList">Task List</a></li>
                <li><a href="/exportExcel">Export To Excel</a></li>
            </ul>
        </div>
    </nav>

    {% endblock  %}

    {% block container %}{% endblock  %}

    {% block footer %}
    <footer>
        
    </footer>
</body>
</html>
{% endblock  %}
